*
.git
.github
.gitattributes
.gitignore
.cache
.vscode
.devcontainer
.editorconfig
.yamllint.yml
.markdownlint.yml
.shellcheckrc
compose.yml
justfile
*.log
scripts
VERSION
README.md
CHANGELOG.md
LICENSE
SECURITY.md
CONTRIBUTING
MAINTAINERS
FAQ.md
CODE_OF_CONDUCT.md
