# EditorConfig: https://EditorConfig.org

# This file is the top-most EditorConfig file
root = true

[*]
end_of_line = lf
charset = utf-8
spelling_language = en-US
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

[*.{sh,bash}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80
shell_variant = bash

[*.{bat,ps1,psm1}]
end_of_line = crlf

[Makefile]
indent_style = tab
indent_size = 4

[justfile]
indent_style = space
indent_size = 4

[Dockerfile*]
indent_style = space
indent_size = 2

[Containerfile*]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4
max_line_length = 100

[*.{json,jsonc,json5,hujson}]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2
max_line_length = 120

[compose.yml,docker-compose.yml,compose.yaml,docker-compose.yaml]
indent_style = space
indent_size = 2

[*.toml]
indent_style = space
indent_size = 4
max_line_length = 100

[*.{ini,cfg,conf}]
indent_style = space
indent_size = 4

[*.md]
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
insert_final_newline = true
max_line_length = 80
