# EditorConfig is awesome: https://EditorConfig.org

# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs.

# This file is the top-most EditorConfig file
root = true

[*]
end_of_line = lf
charset = utf-8
spelling_language = en-US
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

[*.sh]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
insert_final_newline = false
max_line_length = 80
shell_variant = bash

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{json,jsonc,json5,hujson}]
indent_style = space
indent_size = 2

[*.toml]
indent_style = space
indent_size = 4

[Makefile]
indent_style = space
indent_size = 4

[justfile]
indent_style = space
indent_size = 4

# Dockerfiles
[Dockerfile,Containerfile,{Dockerfile,Containerfile}.*]
indent_style = space
indent_size = 4

# Compose files
[compose.yml,docker-compose.yml,compose.yaml,docker-compose.yaml]
indent_style = space
indent_size = 4

[*.md]
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
max_line_length = 80


