{
  default_bind 0.0.0.0
  auto_https off
  #admin localhost:2019
  #debug

  servers {
    metrics
  }

  #storage file_system {
  #  root /var/lib/caddy
  #}

  #log {
  #  output file /var/log/caddy/caddy.log {
  #    roll_size 100MiB
  #    roll_keep 5
  #    roll_keep_for 7d
  #  }
  #
  #  format json
  #  level INFO
  #}
}

http://subdomain.domain.com {
  redir https://{host}{uri} permanent
}

https://subdomain.domain.com {
  tls {
    dns cloudflare {env.CF_API_TOKEN}
    protocols tls1.3
  }

  encode zstd gzip

  reverse_proxy 127.0.0.1:3000 {
    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    #header_up X-Forwarded-Proto {scheme}
  }
}
