[Unit]
Description=Caddy web server container
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=caddy
Image=ghcr.io/thimslugga/caddy-cloudflare:2.11.4-r1
Pull=newer
LogDriver=journald
EnvironmentFile=/etc/caddy/caddy.env
Volume=/etc/caddy/Caddyfile:/etc/caddy/Caddyfile:ro,Z
Volume=caddy-data.volume:/data
Volume=caddy-config.volume:/config
Network=proxy.network
PublishPort=80:80/tcp
PublishPort=443:443/tcp
PublishPort=443:443/udp
NoNewPrivileges=true
DropCapability=ALL
AddCapability=NET_BIND_SERVICE

[Service]
Restart=always
RestartSec=5s
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
